<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Anmeldedaten versenden</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Voraussichtliche Anzahl versendete Mails: <%= Student.where(rec: false).count %>
        <br />
        Wenn Sie diese Mails versenden werden Anmeldungen automatisch aktiviert.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
        <%= link_to 'Senden', send_loginmail_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="punishModal" tabindex="-1" role="dialog" aria-labelledby="punishModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="punishModalLabel">Mahnmail versenden</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% unless Student.where(rec: true).count == 0 %>
        <div class="modal-body">
          Voraussichtliche Anzahl versendete Mails: <%= Student.where(register: false).count %><br />
          An folgenden Schülern wird eine Mahnmail versendet:
        </div>
        <table class="table table-sm table-hover" style="margin: 1rem; width: auto;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Klasse</th>
            </tr>
          </thead>
          <tbody>
          <% Student.where(register: false).each do |s| %>
            <tr>
              <td><%= s.vorname %> <%= s.name %></td>
              <td><%= s.klasse %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
          <%= link_to 'Senden', send_punishmail_path, class: "btn btn-primary" %>
        </div>
      <% else %>
        <div class="modal-body">
          Mahnmails können erst verschickt werden sobald die Anmeldedaten versendet worden sind.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="finalModal" tabindex="-1" role="dialog" aria-labelledby="finalModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <% if Student.where(register: true).count / Student.all.count != 1 %>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="finalModalLabel">Schlusslisten versenden</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Diese Mail kann erst versendet werden, wenn alle Schüler sich angemolden haben.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
      </div>
    </div>
    <% else %>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="finalModalLabel">Schlusslisten versenden</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Voraussichtliche Anzahl versendete Mails: <%= @num %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
        <%= link_to 'Senden', send_finallist_path, class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Test mail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Schickt einen Test mail an vorbestimmte Adressen
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
        <%= link_to 'Senden', send_testmail_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
