<div class="modal fade" id="editSettingsModal" tabindex="-1" role="dialog" aria-labelledby="newAdminLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTeacherModalLabel">Servereinstellungen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag settings_update_path do %>
      <div class="modal-body">
        <div class="form-new">
          Verlangte Anmeldungen
          <div class="input-group mb-3">
            <%= number_field_tag 'req', Pref.first.req, class: "form-control", min: 1, max: 10, step: 1 %>
            <div class="input-group-append">
              <span class="input-group-text">Anmeldungen</span>
            </div>
          </div>
          Verlangte Zeit zwischen Pr채sentationen
          <div class="input-group mb-3">
          <%= number_field_tag 'time', Pref.first.time.to_i / 60, class: "form-control", min: 1, max: 60, step: 1 %>
          <div class="input-group-append">
            <span class="input-group-text">Minuten</span>
          </div>
        </div>
          Anzahl freie Pl채tze pro Pr채sentation
          <div class="input-group mb-3">
          <%= number_field_tag 'free', Pref.first.free, class: "form-control", min: 1, max: 10, step: 1 %>
          <div class="input-group-append">
            <span class="input-group-text">Pl채tze</span>
          </div>
        </div>
          Datum
          <%= date_field_tag 'pres_date', Pref.first.pres_date, class: "form-control" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <%= submit_tag 'Speichern', class: "btn btn-primary btn-block" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
