




  <div class="row">
    <div class="col-sm mb-3">
      <div class="card">
        <div class="card-header">
          Datenbank Verwaltung
        </div>
        <div class="card-body">

          <% if Presentation.first == nil && Teacher.first == nil && Student.first == nil %>
          <p class="card-text">Die Datenbank ist noch nicht vollständig ausgefüllt.</p>
          <%= link_to "Jetzt Ausfüllen...", upload_teachers_path, class: "btn btn-primary"%>
          <% else %>
          <h5 class="card-title">Verfügbare Datenbanken:</h5>
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to 'Präsentationen', list_presentations_path, class:"btn btn-secondary" %>
            <%= link_to 'LehrerInnen', list_teachers_path, class:"btn btn-secondary" %>
            <%= link_to 'SchülerInnen', list_students_path, class:"btn btn-secondary" %>
          </div>
          <% end %>

        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          Mailer
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <%= link_to 'Mailerverwaltung öffnen', '#', class: 'btn-primary btn' %>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          Servereinstellungen
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          Current user type:
          <% if logged_ad? %>
          Admin, <%= @current_admin.handle %>
          <% elsif logged_stud? %>
          Student.
          <% end %>
          <hr>
          <%= link_to 'Anmeldeeinstellungen', settings_path, class: 'btn-primary btn' %>
          <hr>
          <%= link_to 'Benutzer verwalten', admins_path, class: 'btn btn-primary' %>
          <%= link_to 'Reset', reset_path, class: 'btn-danger btn' %>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
