<h4 class="mb-3">Möchten Sie diese Präsentation wirklich entfernen?</h4>
<table class="table table-hover sorttable">
  <thead>
    <tr class="srt">
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Klasse</th>
      <th>Titel</th>
      <th>Fach</th>
      <th>Betreuer</th>
      <th>Zimmer</th>
      <th>Von</th>
      <th>Bis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @presentation.vorname %></td>
      <td><%= @presentation.name %></td>
      <td><%= @presentation.klasse %></td>
      <td><%= @presentation.titel %></td>
      <td><%= @presentation.fach %></td>
      <td><%= link_to @presentation.betreuer, list_teachers_view_path(:number => @presentation.betreuer) %></td>
      <td><%= @presentation.zimmer %></td>
      <td><%= Time.at(@presentation.von.to_f).utc.strftime("%H:%M") %></td>
      <td><%= Time.at(@presentation.bis.to_f).utc.strftime("%H:%M") %></td>
    </tr>
  </tbody>
</table>

<%= link_to "Löschen", delete_presentation_confirm_path(:id => @presentation.id), class: "btn btn-danger" %>
