<div class="card p-3 mb-5 bg-white rounded" style="max-width: 400px; margin: auto">
  <div class="card-body">
    <h4>Student bearbeiten</h4>
    <div class="form-new wide">
      <%= form_tag student_update_path do %>
        <%= hidden_field_tag :id, @student.id %>
        <%= text_field_tag :vorname, @student.vorname, class: "form-control", placeholder:"Vorname", id: "top" %>
        <%= text_field_tag :name, @student.name, class: "form-control", placeholder:"Name", id: "mid" %>
        <%= text_field_tag :klasse, @student.klasse, class: "form-control", placeholder:"Klasse", id: "mid" %>
        <%= text_field_tag :titel, @student.mail, class: "form-control", placeholder:"Titel", id: "mid" %>
        <%= text_field_tag :fach, @student.number, class: "form-control", placeholder:"Fach", id: "btm" %>

        <%= submit_tag :Speichern, class:"btn btn-lg btn-block btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>
