<%= render 'navlist' %>
<div class="float-right">
  <button type="button" name="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#newPresentationModal">Hinzufügen</button>
</div>

<table class="table table-hover sorttable">
  <thead>
    <tr class="srt">
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Klasse</th>
      <th>Titel</th>
      <th>Fach</th>
      <th>Betreuer</th>
      <th>Zimmer</th>
      <th>Von</th>
      <th>Bis</th>
      <th>Frei</th>
      <th>Aktionen</th>
    </tr>
  </thead>
  <tbody>
    <% @presentations.each do |pres| %>
      <tr>
        <td><%= pres.vorname %></td>
        <td><%= pres.name %></td>
        <td><%= pres.klasse %></td>
        <td><%= pres.titel %></td>
        <td><%= pres.fach %></td>
        <td><%= link_to pres.betreuer, list_teachers_view_path(:number => pres.betreuer) %></td>
        <td><%= pres.zimmer %></td>
        <td><%= Time.at(pres.von.to_f).utc.strftime("%H:%M") %></td>
        <td><%= Time.at(pres.bis.to_f).utc.strftime("%H:%M") %></td>
        <td><%= pres.frei %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Aktionen
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "Bearbeiten", update_presentation_path(:id => pres.id), class: "btn btn-primary dropdown-item" %>
              <% unless Student.first.rec %>
                <div class="dropdown-divider"></div>
                <%= link_to "Löschen", delete_presentation_path(:id => pres.id), class: "btn btn-warning dropdown-item" %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'prmodal' %>
