<%= render 'navlist' %>
<div class="float-right">
  <button type="button" name="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#newStudentModal">Hinzufügen</button>
</div>


<table class="table table-hover sorttable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Klasse</th>
      <th>Mail</th>
      <th>Nummer</th>
      <th>Passwort</th>
      <th>Registriert?</th>
      <th>Aktionen</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |stud| %>
      <% if !stud.rec && Pref.first.log_data %>
        <tr class="table-info">
      <% elsif !stud.register %>
        <tr class="table-warning">
      <% else %>
        <tr>
      <% end %>
        <td><%= stud.vorname %> <%= stud.name %></td>
        <td><%= stud.klasse %></td>
        <td><%= stud.mail %></td>
        <td><%= stud.number %></td>
        <td><%= stud.code %></td>
        <% if stud.register %>
          <td>Ja</td>
        <% else %>
          <td>Nein</td>
        <% end %>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Aktionen
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "Infos", list_students_view_path(:id => stud.id), class: "btn btn-secondary dropdown-item" %>
              <%= link_to "Bearbeiten", update_student_path(:id => stud.id), class: "btn btn-secondary dropdown-item" %>
              <% unless stud.register %>
                <%= link_to "Force", force_path(:id => stud.id), class: "btn btn-primary dropdown-item" %>
              <% end %>
              <% unless stud.register == true %>
                <div class="dropdown-divider"></div>
                <%= link_to "Entfernen", delete_student_path(:id => stud.id), class: "btn btn-warning dropdown-item" %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'stmodal' %>
