<%= render 'navlist' %>
<% unless Pref.first.log_data %>
<div class="float-right">
  <button type="button" name="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#newPresentationModal">Hinzufügen</button>
</div>
<% end %>

<table class="table table-hover sorttable">
  <thead>
    <tr class="srt">
      <th>Name</th>
      <th>Klasse</th>
      <th>Titel</th>
      <th>Fach</th>
      <th>Betreuer</th>
      <th>Zimmer</th>
      <th>Von</th>
      <th>Bis</th>
      <th>Frei</th>
      <th>Optionen</th>
    </tr>
  </thead>
  <tbody>
    <% @presentations.each do |pres| %>
      <tr>
        <td><%= pres.vorname %> <%= pres.name %></td>
        <td><%= pres.klasse %></td>
        <td><%= pres.titel %></td>
        <td><%= pres.fach %></td>
        <% tn = Teacher.find_by_number(pres.betreuer) %>
        <td><%= link_to "#{tn.vorname} #{tn.name}", list_teachers_view_path(:number => pres.betreuer) %></td>
        <td><%= pres.zimmer %></td>
        <td><%= Time.at(pres.von.to_f).utc.strftime("%H:%M") %></td>
        <td><%= Time.at(pres.bis.to_f).utc.strftime("%H:%M") %></td>
        <td><%= pres.frei %></td>
        <% if Student.all.where(rec: true).count == 0 %>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Aktionen
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to "Bearbeiten", update_presentation_path(:id => pres.id), class: "btn btn-primary dropdown-item" %>
                <% if Pref.first.log_data %>
                  <%= link_to 'Besucher', list_presentations_view_path(:id => pres.id), class: "btn dropdown-item" %>
                <% else %>
                  <%= link_to 'Infos', list_presentations_view_path(:id => pres.id), class: "btn dropdown-item" %>
                <% end %>
                <% unless Pref.first.log_data %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Löschen", delete_presentation_path(:id => pres.id), class: "btn btn-warning dropdown-item" %>
                <% end %>
              </div>
            </div>
          </td>
        <% else %>
          <td>
            <%= link_to 'Besucher', list_presentations_view_path(:id => pres.id), class: "btn btn-secondary" %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'prmodal' %>
