<div class="card p-3 mb-5 bg-white rounded" style="max-width: 400px; margin: auto">
  <h3>Servereinstellungen</h3>
  <%= form_tag upload_settings_path do %>
    Anzahl verlangte Anmeldungen
    <%= number_field_tag 'req', 3, class: "form-control mb-3", min: 1, max: 10, step: 1 %>
    Verlangte Zeit zwischen Präsentationen in Minuten
    <%= number_field_tag 'time', 6, class: "form-control mb-3", min: 1, max: 60, step: 1 %>
    Anzahl freie Plätze pro Präsentation
    <%= number_field_tag 'free', 5, class: "form-control mb-3", min: 1, max: 10, step: 1 %>
    <%= submit_tag 'Speichern', class: "btn btn-lg btn-primary btn-block", data: { disable_with: "Processing data..." } %>
  <% end %>
</div>
