<div class="row">
  <div class="col-sm">
    <div class="card mb-3">
      <div class="card-header success">
        Einstellungen
      </div>
      <div class="card-body">
        <% if Pref.first.login %>
          <h5 class="card-title">Status: <span class="text-success font-weight-bold">Online</span></h5>
          <p class="card-text">Anmeldungen sind aktiviert</p>
          <%= link_to "Jetzt Deaktivieren", settings_deactivate_path, class: "btn btn-danger" %>
        <% else %>
          <h5 class="card-title">Status: <span class="text-danger font-weight-bold">Deaktiviert</span></h5>
          <p class="card-text">Anmeldungen sind nicht aktiviert</p>
          <%= link_to "Jetzt Aktivieren", settings_activate_path, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-header success">
        Anmeldeeinstellungen
      </div>
      <div class="card-body">
        <table class="table table-sm">
            <caption>Diese Werte können nicht bearbeitet werden, nachdem die Mails mit den Anmeldedaten verschickt worden sind.</caption>
          <tbody>
            <tr>
              <td>Verlangte Anmeldungen:</td>
              <td><%= Pref.first.req %></td>
            </tr>
            <tr>
              <td>Zeit zwischen Präsentationen:</td>
              <td><%= Pref.first.time / 60 %> Minuten</td>
            </tr>
            <tr>
              <td>Freie Plätze pro Präsentation:</td>
              <td><%= Pref.first.free %></td>
            </tr>
            <tr>
              <td>Datum</td>
              <td><%= Date.parse(Pref.first.pres_date).strftime("%d/%m/%Y") %></td>
            </tr>
            <tr>
              <td>Präsentationen Typ</td>
              <% if Pref.first.pres_type == 0 %>
                <% type = "Gymnasium" %>
              <% elsif Pref.first.pres_type == 1 %>
                <% type = "FMS" %>
              <% end %>
              <td><%= type %></td>
            </tr>
          </tbody>
        </table>
        <% if Student.all.where(rec: true).count == 0 %>
          <button type="button" name="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editSettingsModal">Bearbeiten</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'modset' %>
