<div class="card">
    <div class="card-header">
        Ausgewählte Präsentationen
    </div>
    <div class="card-body">
        <h5 class="card-title">Sie haben folgende Präsentationen ausgewählt:</h5>
        <table class="table table-hover sorttable">
            <thead>
                <tr class="srt">
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Klasse</th>
                    <th>Titel</th>
                    <th>Fach</th>
                    <th>Betreuer</th>
                    <th>Zimmer</th>
                    <th>Von</th>
                    <th>Bis</th>
                    <th>Frei</th>
                    <th>Abwählen</th>
                </tr>
            </thead>
            <tbody>
                <% @presentations.each do |pres| %>
                    <tr>
                        <td><%= pres.vorname %></td>
                        <td><%= pres.name %></td>
                        <td><%= pres.klasse %></td>
                        <td><%= pres.titel %></td>
                        <td><%= pres.fach %></td>
                        <% btr = Teacher.find_by_number(pres.betreuer) %>
                        <td><%= btr.vorname %> <%= btr.name %></td>
                        <td><%= pres.zimmer %></td>
                        <td><%= Time.at(pres.von.to_f).utc.strftime("%H:%M") %></td>
                        <td><%= Time.at(pres.bis.to_f).utc.strftime("%H:%M") %></td>
                        <td><%= pres.frei %></td>
                        <td><%= link_to 'Entfernen', remove_path(:id => pres.id), class: "btn btn-primary btn-block" %>
                    </tr>
                <% end %>
            </tbody>
        </table>  
    </div>
</div>