<table class="table table-hover sorttable">
  <thead>
    <tr class="srt">
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Klasse</th>
      <th>Titel</th>
      <th>Fach</th>
      <th>Betreuer</th>
      <th>Zimmer</th>
      <th>Von</th>
      <th>Bis</th>
      <th>Frei</th>
      <th>Wählen</th>
    </tr>
  </thead>
  <tbody>
    <% @presentations.each do |pres| %>
      <% if current_student.select.include?(pres.id) %>
        <tr class="table-info">
      <% else %>
        <tr>
      <% end %>
          <td><%= pres.vorname %></td>
          <td><%= pres.name %></td>
          <td><%= pres.klasse %></td>
          <td><%= pres.titel %></td>
          <td><%= pres.fach %></td>
          <% btr = Teacher.find_by_number(pres.betreuer) %>
          <td><%= btr.vorname %> <%= btr.name %></td>
          <td><%= pres.zimmer %></td>
          <td><%= Time.at(pres.von.to_f).utc.strftime("%H:%M") %></td>
          <td><%= Time.at(pres.bis.to_f).utc.strftime("%H:%M") %></td>
          <td><%= Pref.first.free - pres.visit.count %></td>
          <% compat = [] %>
          <% current_student.select.each do |s| %>
            <% p = Presentation.find_by_id(s) %>
            <% if p.von == pres.von || ( pres.von.to_i - p.bis.to_i < Pref.first.time && pres.von.to_i - p.bis.to_i > 0) || (p.von.to_i - pres.bis.to_i < Pref.first.time && p.von.to_i - pres.bis.to_i > 0) %>
              <% compat << false %>
            <% else %>
              <% compat << true %>
            <% end %>
          <% end %>
          <% if compat.all? %>
            <td>
              <% if current_student.select.include?(pres.id) %>
              <% elsif !current_student.select.include?(pres.id) %>
                <%= link_to 'Wählen', choose_path(:id => pres.id), class: "btn btn-primary btn-block" %>
              <% end %>
            </td>
          <% elsif current_student.select.include?(pres.id) %>
            <td>
              <%= link_to 'Entfernen', remove_path(:id => pres.id), class: "btn btn-primary btn-block" %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
    <% end %>
  </tbody>
</table>

<!--
<div id="fixedinfo" class="shadow bg-warning">
  <% if Pref.first.req.to_i - current_student.select.count > 1 %>
    Sie müssen noch <%= Pref.first.req.to_i - current_student.select.count %> Präsentationen auswählen.
  <% elsif Pref.first.req.to_i - current_student.select.count == 1 %>
    Sie müssen noch <%= Pref.first.req.to_i - current_student.select.count %> Präsentation auswählen.
  <% end %>
</div>
-->



<div class="card text-white bg-info shadow" id="fixedcard" style="max-width: 18rem;">
  <div class="card-header">Information</div>
  <div class="card-body">
    <% if Pref.first.req.to_i - current_student.select.count > 1 %>
      Sie müssen noch <%= Pref.first.req.to_i - current_student.select.count %> Präsentationen auswählen.
    <% elsif Pref.first.req.to_i - current_student.select.count == 1 %>
      Sie müssen noch <%= Pref.first.req.to_i - current_student.select.count %> Präsentation auswählen.
    <% end %>
  </div>
</div>
<br /><br /><br /><br /><br /><br />
