Hallo <%= @student.vorname %> <%= @student.name %><br />
<% if Pref.first.pres_type == 0 %>
  Sie haben sich für folgende Präsentationen der Maturaarbeiten MA<%= Time.new.year - 2000 %>, <%= Date.parse(Pref.first.pres_date).strftime("%d/%m/%Y") %> angemeldet:<br /><br />
<% elsif Pref.first.pres_type == 1 %>
  Sie haben sich für folgende Präsentationen der FMS Arbeiten FMS<%= Time.new.year - 2000 %>, <%= Date.parse(Pref.first.pres_date).strftime("%d/%m/%Y") %> angemeldet:<br /><br />
<% end %>
<table class="table bordered" style="color: #212529; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="border-bottom: 2px solid #dee2e6; padding: 0.3rem; border-top: 1px solid #dee2e6;">Name</th>
      <th style="border-bottom: 2px solid #dee2e6; padding: 0.3rem; border-top: 1px solid #dee2e6;">Klasse</th>
      <th style="border-bottom: 2px solid #dee2e6; padding: 0.3rem; border-top: 1px solid #dee2e6;">Titel</th>
      <th style="border-bottom: 2px solid #dee2e6; padding: 0.3rem; border-top: 1px solid #dee2e6;">Fach</th>
      <th style="border-bottom: 2px solid #dee2e6; padding: 0.3rem; border-top: 1px solid #dee2e6;">Betreuer</th>
      <th style="border-bottom: 2px solid #dee2e6; padding: 0.3rem; border-top: 1px solid #dee2e6;">Zimmer</th>
      <th style="border-bottom: 2px solid #dee2e6; padding: 0.3rem; border-top: 1px solid #dee2e6;">Von</th>
      <th style="border-bottom: 2px solid #dee2e6; padding: 0.3rem; border-top: 1px solid #dee2e6;">Bis</th>
    </tr>
  </thead>
  <% p = [] %>
  <% @student.select.each do |pres| %>
    <% p << Presentation.find_by_id(pres) %>
  <% end %>
  <tbody>
    <% p.each do |pres| %>
      <tr>
        <td style="padding: 0.3rem; border-top: 1px solid #dee2e6"><%= pres.vorname %> <%= pres.name %></td>
        <td style="padding: 0.3rem; border-top: 1px solid #dee2e6"><%= pres.klasse %></td>
        <td style="padding: 0.3rem; border-top: 1px solid #dee2e6"><%= pres.titel %></td>
        <td style="padding: 0.3rem; border-top: 1px solid #dee2e6"><%= pres.fach %></td>
        <td style="padding: 0.3rem; border-top: 1px solid #dee2e6"><%= Teacher.find_by_number(pres.betreuer).vorname %> <%= Teacher.find_by_number(pres.betreuer).name %></td>
        <td style="padding: 0.3rem; border-top: 1px solid #dee2e6"><%= pres.zimmer %></td>
        <td style="padding: 0.3rem; border-top: 1px solid #dee2e6"><%= Time.at(pres.von.to_f).utc.strftime("%H:%M") %></td>
        <td style="padding: 0.3rem; border-top: 1px solid #dee2e6"><%= Time.at(pres.bis.to_f).utc.strftime("%H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/><br/>
Bei Fragen melden Sie sich bitte bei Prorektorin Cristina Maranta (<a href="mailto:cristina.maranta@bks.gr.ch?subject=Fragen Anmeldetool">cristina.maranta@bks.gr.ch</a>). Bitte erscheinen Sie unbedingt pünktlich zu den Präsentationen.
