<% if Pref.first.pres_type == 0 %>
  <p><b>MA<%= Time.new.year - 2000 %> - Mahnung wegen nicht erfüllte Anmeldung</b></p>
  <p>Liebe/r <%= @student.vorname %> <%= @student.name %>, </p>
  <p>Sie haben sich noch nicht für die Maturavorträge angemeldet.</p>
<% elsif Pref.first.pres_type == 1 %>
  <p><b>FMS<%= Time.new.year - 2000 %> - Mahnung wegen nicht erfüllte Anmeldung</b></p>
  <p>Liebe/r <%= @student.vorname %> <%= @student.name %>, </p>
  <p>Sie haben sich noch nicht für die FMS Vorträge angemeldet.</p>
<% end %>

<p>Das ist Ihre <strong><%= @student.mahn_rec %>. Warnung.</strong></p>
Bitte registrieren Sie sich sobald wie möglich.<br />
<p>
  Ihre Anmeldedaten: <br>
  ID: <b><%= @student.number %></b> <br />
  Passwort: <b><%= @student.code %></b>
</p>
Melden Sie sich bei dieser Addresse an: <a href="https://athene.bks-campus.ch">athene.bks-campus.ch</a>.
