Guten Tag <%= @student.vorname %> <%= @student.name %>, <br />
Sie haben sich noch nicht für die Maturavorträge angemeldet.<br />
Das ist Ihre <%= @student.mahn_rec %>. Warnung. <br />
Bitte registrieren Sie sich sobald wie möglich.<br />
Benutzername: <%= @student.number %><br />
Passwort: <%= @student.code %><br />
Sie können sich unter <a href="https://athene.bks-campus.ch">athene.bks-campus.ch</a> anmelden.
