<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <%= link_to 'BKS-Tool', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if current_page?(root_path) %>">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>

      <% if logged_ad? && !logged_stud? %>
        <li class="nav-item <%= 'active' if current_page?(dashboard_path) %>">
          <%= link_to 'Dashboard', dashboard_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Abmelden', logout_path, class: "nav-link" %>
        </li>

      <% elsif logged_stud? && !logged_ad? %>
        <% unless current_student.select.count == Pref.first.req %>
          <li class="nav-item <%= 'active' if current_page?(registrieren_path) %>">
            <%= link_to 'Registration', registrieren_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item <%= 'active' if current_page?(confirm_selection_path) %>">
            <%= link_to 'Bestätigung', confirm_selection_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to 'Abmelden', logout_path, class: "nav-link" %>
        </li>
      <% elsif logged_stud? && logged_ad? %>
        <li class="nav-item">
          <%= link_to 'Zurück', return_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Abmelden', logout_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item <%= 'active' if current_page?(login_path) %>">
          <%= link_to 'Anmelden', login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hilfe</a>
        </li>
      <% end %>
    </ul>
    <% if logged_ad? && logged_stud? %>
      <strong class="white-text">GOD MODE</strong>
    <% elsif logged_ad? && !logged_stud? %>
      <span class="white-text">Administrator <%= current_admin.handle %></span>
    <% elsif !logged_ad? && logged_stud? %>
      <span class="white-text"><%= current_student.vorname %> <%= current_student.name %>
    <% end %>
  </div>
</nav>
