<!DOCTYPE html>
<html>
  <head>
    <% if current_page?(root_path) %>
      <title>BKS Tool</title>
    <% elsif current_page?(login_path) %>
      <title>Anmelden - BKS Tool</title>
    <% elsif current_page?(dashboard_path) %>
      <title>Dashboard</title>
    <% elsif current_page?(list_teachers_path) || current_page?(list_presentations_path) || current_page?(list_students_path) || current_page?(list_teachers_all_path) %>
      <title>Datenbank</title>
    <% elsif current_page?(mailer_path) %>
      <title>Mailer</title>
    <% elsif current_page?(settings_path) %>
      <title>Einstellungen</title>
    <% elsif current_page?(admins_path) %>
      <title>Administratoren</title>
    <% elsif current_page?(reset_path) %>
      <title>Zurücksetzen</title>
    <% elsif current_page?(list_teachers_view_path) || current_page?(list_students_view_path) || current_page?(list_presentations_view_path) %>
      <title>Infos</title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if current_page?(list_students_path) || current_page?(list_teachers_path) || current_page?(list_presentations_path) %>
      <%= render 'shared/js/sorttable' %>
      <script>
        $(document).on("page.change", sorttable.init)
      </script>
    <% else %>
    <% end %>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %> alert-dismissible fade show" role="alert">
        <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
